

@mixin font-used($font-size, $font-weight) {
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin flexBox($property) {
  display: flex;
  flex-direction: $property;
}

@mixin backgroundImg ( $path, $width, $height) {
  background: url($path);
  background-size: cover;
  width: $width;
  height: $height;
}