@import '_mixins';

.container{
  .forkitoButton {
    @include font-used(15px, 700);
    background-color: #8d81ac;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif !important;
  }
}