@import 'mixins';
.container {


  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //border: 1px #788794 solid;
    .headerNav {
      width: 100%;
      position: relative;
      //@include font-used(12px, 500);
      background-color: #27262a;
      color: white;
      height: 103px;
      box-sizing: border-box;
      //padding-left: 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;

      &__logoImg {
        color: #8d81ac;
        @include backgroundImg ('../img/LogoHeader.png', 43px, 41px);
      }

      &__menu {
        background-color: #fafafa;
        color: #444444;
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
        margin: 0 5px 0;
        width: 100%;

        &--active320 {
          display: block;
        }

        .menuList {
          background-color: #333333;
          list-style-type: none;
          padding-bottom: 10px;

          li {
            font-family: 'Montserrat', sans-serif;
            @include font-used(26px, 400);

            color: #ffffff;

            border-bottom: 2px solid #3B3B3B;
            a {
              padding: 10px 24px;
              line-height: 106px;
              border-left: 12px solid #333333;
            }

            :hover {
              font-family: 'Montserrat', sans-serif;
              @include font-used(26px, 400);
              line-height: 106px;
              color: #8d81ac;

              border-left: 12px solid #8d81ac;
            }

          }
        }
      }

      &__toggleBar {
          @include backgroundImg ('../img/burger-menu-icon.png', 26px, 21px);
      }

    }
    .headerInfo {
      font-family: 'Montserrat', sans-serif;
      background: url('../img/headerInfo.png') 55% -100px;
      text-align: center;
      h2 {
        padding-top: 65px;
        color: white;
        line-height: 20px;
        @include font-used(48px, 700);
      }
      h3 {
        color: #8D81AC;
        @include font-used(18px, 400);
        line-height: 34px;
        padding: 20px;
      }
      h4 {
        color: #848E97;
        @include font-used(14px, 400);
        line-height: 20px;
        padding-bottom: 404px;
      }
    }
    .forkitoButton--after {
      margin-top: -20px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}