.container {
  header {
    //border: 1px #788794 solid;
    .headerNav {
      position: relative;
      //@include font-used(12px, 500);
      background-color: #27262a;
      color: white;
      height: 103px;
      box-sizing: border-box;
      //padding-left: 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__logoImg {
        color: #8d81ac;
        @include backgroundImg ('../img/LogoHeader.png', 43px, 41px);
      }

      &__menu {
        background-color: #fafafa;
        color: #444444;
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
        margin: 0 5px 0;
        width: 100%;

        &--active320 {
          display: block;

        }


        .menuList {
          background-color: #333333;
          list-style-type: none;
          margin-bottom: 5px;

          li {
            font-family: 'Montserrat', sans-serif;
            font-size: 26px;
            line-height: 106px;
            font-weight: 400;

            :hover {
              color: #8d81ac;
              border-bottom: 1px solid green;
              border-left: 8px solid green;
            }

          }
        }
      }

      &__toggleBar {
        i {
          font-size: 30px;
        }
      }

    }
  }
}