@import 'mixins';

.container {
  width: 100%;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //border: 1px #788794 solid;
    .headerNav {
      width: 100%;
      position: relative;
      //@include font-used(12px, 500);
      background-color: #27262a;
      color: #ffffff;
      height: 103px;
      box-sizing: border-box;
      //padding-left: 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;

      &__logoImg {
        color: #8d81ac;
        @include backgroundImg ('../img/LogoHeader.png', 43px, 41px);
        background-repeat: no-repeat;
        //&:hover {
        //  filter: invert(2);
        //}
      }
      &__logoText:hover {
        color: white;
      }

      &__menu {
        background-color: #fafafa;
        color: #444444;
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
        margin: 0 10px;
        width: 94%;

        &--active320 {
          display: block;
        }

        .menuList {
          background-color: #333333;
          list-style-type: none;
          padding-bottom: 10px;

          li {
            font-family: 'Montserrat', sans-serif;
            @include font-used(26px, 400);

            color: #ffffff;

            border-bottom: 2px solid #3B3B3B;

            a {
              padding: 10px 24px;
              line-height: 88px;
              border-left: 12px solid #333333;
            }

            :hover {
              color: #8d81ac;
              border-left: 12px solid #8d81ac;
            }

          }
        }
      }

      &__toggleBar {
        @include backgroundImg ('../img/burger-menu-icon.png', 26px, 21px);
        filter: invert(1);
      }

    }

    .headerInfo {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      background: url('../img/headerInfo.png') 50% -200px;
      text-align: center;

      h2 {
        padding-top: 65px;
        color: white;
        line-height: 20px;
        @include font-used(48px, 700);
      }

      h3 {
        color: #8D81AC;
        @include font-used(18px, 400);
        line-height: 34px;
        padding: 20px 15px;
      }

      h4 {
        color: #848E97;
        @include font-used(14px, 400);
        line-height: 20px;
        padding-bottom: 404px;
      }
    }

    .forkitoButton--after {
      margin-top: -20px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .aboutFork {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: url('../img/About_Fork.png') 50% 0;
    //background-image: url('../img/About_Fork.png') 0 -10px;
    background-repeat: no-repeat;
    @include font-used(36px, 700);
    text-align: center;
    padding-top: 61px;
    margin-bottom:49px;

    h3 {
      display: none;
    }
    .aboutForkFlex {
      display: grid;
      grid-template-columns: 1fr;
      margin-top:49px;
      align-items: center;

      justify-items: center;
      text-align: center;

      .blockClients {
        width: 252px;
        &__description {
          margin: 37px 0 40px;


          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          font-family: "Lato";
          font-weight: 400;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}


@media (max-width: 319px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 481px) {
  .container {
    header {
      .headerNav {
        height: 100px;

        &__menu {
          //position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: lightseagreen;
          //right: 0;
          top: 77%;
          width: fit-content;
          margin: 0 auto;

          .menuList {
            padding: 0px;
            //padding-inline-start: 5px;
            background-color: #27262a;
            display: flex;
            //justify-content: space-between;
            //align-items: center;
            li {
              @include font-used(16px, 700);
              border: none;
              padding: 3px;

              a {
                color: #8D81AC;
                padding: 10px 21px;
                line-height: 20px;
                border: none;
              }

              :hover {
                border: 0;
                color: white;
              }

            }
          }
        }

        &__toggleBar {
          display: none;
        }

      }

    }
    .aboutFork {
      //font-family: 'Montserrat', sans-serif;
      //color: #ffffff;
      //background-image: url('../img/About_Fork.png');
      @include font-used(42px, 700);
      //text-align: center;
      //padding-top: 90px;
      //margin-bottom:49px;

      h3 {
        display: block;
        @include font-used(14px, 400);
        color: rgba(162, 145, 165, 255);
        text-align: center;
        margin: 0 80px 0;
        padding-bottom: 40px;
      }

      .aboutForkFlex {
        //display: grid;
        grid-template-columns: 1fr 1fr;
        //margin-top:49px;
        //align-items: center;
        //
        //justify-items: center;
        //text-align: center;

        .blockClients {
          //width: 252px;
          &__description {
            //margin: 37px 0 40px;
            //font-size: 16px;
            //line-height: 24px;
            //color: #ffffff;
            //font-family: "Lato";
            //font-weight: 400;
            //font-style: italic;
            //text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .container {
    header {
      .headerNav {
        height: 118px;

        &__menu {

          position: static;
          //display: block;
          //right: 0;
          //top: 100%;
          width: fit-content;

          .menuList {
            //padding: 0px;
            //padding-inline-start: 5px;
            //background-color: #27262a;
            display: flex;

            li {
              //@include font-used(16px, 700);
              display: block; /* Отображать как строчный элемент */
              //margin-right: 5px; /* Отступ слева */
              //border: 1px solid #000; /* Рамка вокруг текста */
              //padding: 3px;
              a {
                //color: #8D81AC;
                //padding: 10px 2px;
                //line-height: 20px;
                //border: none;
              }

              :hover {

              }

            }
          }
        }

        &__toggleBar {
          display: none;
        }

      }

    }

    .aboutFork {
      //font-family: 'Montserrat', sans-serif;
      //color: #ffffff;
      //background-image: url('../img/About_Fork.png');
      //@include font-used(36px, 700);
      //text-align: center;
      //padding-top: 61px;
      //margin-bottom:49px;

      .aboutForkFlex {
        //display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        //margin-top:49px;
        //align-items: center;
        //
        //justify-items: center;
        //text-align: center;

        .blockClients {
          //width: 252px;
          &__description {
            //margin: 37px 0 40px;
            //font-size: 16px;
            //line-height: 24px;
            //color: #ffffff;
            //font-family: "Lato";
            //font-weight: 400;
            //font-style: italic;
            //text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 994px) {
  .container {
    //width: 320px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
}



